# Using the Apache Spark Connector for SQL Server and Azure SQL from SparkR

The following notebook demostrates usage of MSSQLSpark connector in sparkR.

## PreReq
-------
- Download [AdultCensusIncome.csv]( https://amldockerdatasets.azureedge.net/AdultCensusIncome.csv ) to your local machine.  Upload this file to hdfs folder named *spark_data*. 
-  The sample uses a SQL database  *connector_test_db*,  user  *connector_user* with password *password123!#* and datasource  *connector_ds*. The database, user/password and datasource need to be created before running the full sample. Refer **data-virtualization/mssql_spark_connector_user_creation.ipynb** on steps to create this user.

## Load a CSV file to a dataframe

In [3]:
people <- read.df("/spark_data/AdultCensusIncome.csv", "csv")
head(people)

Starting Spark application

SparkSession available as 'spark'.

  _c0               _c1     _c2        _c3            _c4                 _c5
1 age         workclass  fnlwgt  education  education-num      marital-status
2  39         State-gov   77516  Bachelors             13       Never-married
3  50  Self-emp-not-inc   83311  Bachelors             13  Married-civ-spouse
4  38           Private  215646    HS-grad              9            Divorced
5  53           Private  234721       11th              7  Married-civ-spouse
6  28           Private  338409  Bachelors             13  Married-civ-spouse
                 _c6            _c7    _c8     _c9          _c10          _c11
1         occupation   relationship   race     sex  capital-gain  capital-loss
2       Adm-clerical  Not-in-family  White    Male          2174             0
3    Exec-managerial        Husband  White    Male             0             0
4  Handlers-cleaners  Not-in-family  White    Male             0             0
5  Handlers-cleaners        Husband  Black    Male             0             0
6     Prof-specialty           Wife  Black  Female             0             0
             _c12            _c13    _c14
1  hours-per-week  native-country  income
2              40   United-States   <=50K
3              13   United-States   <=50K
4              40   United-States   <=50K
5              40   United-States   <=50K
6              40            Cuba   <=50K

## User MSQL Spark  connector to save the dataframe as a table in SQL Server

In [5]:
# Using the Apache Spark Connector for SQL Server and Azure SQL
dbname = "connector_test_db"
url = paste("jdbc:sqlserver://master-0.master-svc;databaseName=", "connector_test_db", sep="")
print(url)

dbtable = "AdultCensus_test_sparkr"
user = "connector_user"
password = "password123!#" # Please specify password here

saveDF(people,
        dbtable,
        source = "com.microsoft.sqlserver.jdbc.spark", 
        url = url, 
        dbtable=dbtable,  
        mode = "overwrite",
        user=user, 
        password=password)

[1] "jdbc:sqlserver://master-0.master-svc;databaseName=connector_test_db"