In [1]:
CREATE DATABASE connector_test_db1

In [2]:
Use connector_test_db1;
CREATE LOGIN connector_user1  WITH PASSWORD ='password123!#' 
CREATE USER connector_user1 FROM LOGIN connector_user1

-- to view data pool node configuration
grant VIEW DATABASE STATE to connector_user1

-- To create external tables in data pools
grant alter any external data source to connector_user1;

-- To create external table
grant create table to connector_user1;
grant alter any schema to connector_user1;



ALTER ROLE [db_datareader] ADD MEMBER connector_user1
ALTER ROLE [db_datawriter] ADD MEMBER connector_user1

In [10]:
-- append with computed columns at start and end
USE connector_test_db1;

CREATE TABLE test1
(
    Date As (Year + '-' + Month),
    Id bigint,
    Year nvarchar(4),
    Month nvarchar(2),
    Years AS REPLICATE(Year, 2)
)

In [11]:
-- append with 1 computed column in between
USE connector_test_db1;
CREATE TABLE test2
(
    Id bigint,
    Date As (Year + '-' + Month),
    Year nvarchar(4),
    Month nvarchar(2)
)

In [12]:
-- append with 2 computed columns in between
USE connector_test_db1;

CREATE TABLE test3
(
    Id bigint,
    Date As (Year + '-' + Month),
    Year nvarchar(4),
    Years AS REPLICATE(Year, 2),
    Month nvarchar(2)
)

In [16]:
-- append with 1 computed column in df and table, but table has 1 less col
USE connector_test_db1;

CREATE TABLE test4
(
    Id bigint,
    Year nvarchar(4),
    Years AS REPLICATE(Year, 2)
)